 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/css/navbar.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<div class='container'>
  <h1>Invoice form for BHIVE Employees</h1>
  <form>
	
	 <div class='col-lg-6'>
      <div class="form-group">
        
     
	  <label for="AgreementSign">Is the agreement signed from the customer?</label>
	   <select class="form-control" id="AgreementSign">
          <option>Yes</option>
          <option>No</option>
          <option>In progress</option>
		   <option>Other</option>
        </select>
 </div>
  </div>
    
	<div class='col-lg-6'>
      <div class="form-group">
        
     
	  <label for="FinanceRef">Is the copy of Agreement enclosed for financial reference?</label>
	   <select class="form-control" id="FinanceRef">
          <option>Yes</option>
          <option>No</option>
		   <option>Other</option>
        </select>
 </div>
  </div>
  
  <div class='col-lg-6'>
      <div class="form-group">
        <label for="AgreementDateEnd">End of Agreement</label>
        <input type="date" class="form-control" id="AgreementDateEnd" aria-describedby="dateHelp" placeholder="Enter dd-mm-yyyy">
      </div>
  </div>
   <div class='col-lg-6'>
      <div class="form-group">
        <label for="MRP">MRP of that location</label>
        <input type="text" class="form-control" id="MRP" aria-describedby="textHelp" placeholder="Enter amount">
      </div>	
</div>
	   <div class='col-lg-6'>
      <div class="form-group">
        <label for="Discount">Discount offered in %</label>
        <input type="text" class="form-control" id="Discount" aria-describedby="textHelp" placeholder="Enter value ">
      </div>	
</div>
	  <div class='col-lg-6'>
      <div class="form-group">
        <label for="DealSeal">Deal was locked by (Name of CM/Sales)</label>
        <input type="text" class="form-control" id="DealSeal" aria-describedby="textHelp" placeholder="Enter name ">
      </div>	
	  </div>
	  <div class='col-lg-6'>
      <div class="form-group">
        <label for="Type">Type of Agreement</label>
        <input type="text" class="form-control" id="Type" aria-describedby="textHelp" placeholder="specify if advance,monthly etc ">
      </div>	
</div>
	  
	  <div class='col-lg-6'>
      <div class="form-group">
        <label for="OtherInfo">Mention if any other information is required</label>
        <input type="text" class="form-control" id="Discount" aria-describedby="textHelp" placeholder="if none please type NA ">
      </div>	
	  </div>
	  
   
   
    <button class="btn btn-primary pull-right">Submit</button>
    <button class="btn btn-primary pull-right">Cancel</button>
	
	</form>
</div>