<html>
<head>
<style>
span.asterisk{
color:red;
}
</style>
</head>
<body>
<div class='container'>
  <tr><h1>Contact Details</h1></tr>
  <h2>Details for the Rental Agreement</h2>
  <p style="color:red;">* Required</p>
  <form>
   
    <div class="col-lg-6">
      <div class="form-group">
        <label for="detailsEmailAddress">Email address<span class="asterisk">*</span><br></label>
        <input type="email" class="form-control" id="detailsEmailAddress" aria-describedby="emailHelp" placeholder="Your emial">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
       
      <div class="form-group">
        <label for="detailsCompanyName">Company Name(Or Name of the person in case of an Individual)<span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsCompanyName" placeholder="Your answer">
       </div>
      
       <div class="form-group">
        <label for="detailsCompanyAddress">Company Address<span class="asterisk">*</span><br></label>
        <input type="text" class="form-control" id="detailsCompanyAddress" placeholder="Your answer">
       </div>
           
       <div class="form-group">
        <label for="detailsCompanySector">Company's Industry/Sector<span class="asterisk">*</span><br></label>
        <input type="text" class="form-control" id="detailsCompanySector" placeholder="Your answer">
       </div>
            
       <div class="form-group">
        <label for="detailsCompanyAct">Company Incorporated under which Act?(Eg.Companies Act,2013)<span class="asterisk">*</span><br></label>
        <input type="text" class="form-control" id="detailsCompanyAct" placeholder="Your answer">
       </div>

        <div class="form-group">
        <label for="detailsAuthorisedSign">Authorised Signatory Name<span class="asterisk">*</span><br></label>
        <input type="text" class="form-control" id="detailsAuthorisedSign" placeholder="Your answer">
       </div>
      
      <div class="form-group">
       <label class="detailsGender">Gender<span class="asterisk">*</span><br></label>
       <form>
       <input type="radio" name="gender" value="male" checked> Male<br>
       <input type="radio" name="gender" value="female"> Female<br>
       </form>
      </div>
     </div>

    <button class="btn btn-primary pull-right">Next</button>
  
  </form>
</div>



<div class='container'>
<tr><h1>Contact Details</h1></tr>
<p style="color:red;">* Required</p>
<h3 style="background-color:black;color:white;">Contract Details</h3>
  <form>
   <div class="col-lg-6">
    <div class="form-group">
        <label for="detailsMembership">Type of Membership(eg.Dedicated Desks, 4 Seater Cabin etc.) <span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsMembership" placeholder="Your answer">
       </div>
    <div class="form-group">
        <label for="detailsUniqueSeats">Number of Unique Seats<span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsUniqueSeats" placeholder="Your answer">
       </div>
   
     <div class="form-group">
        <label for="detailsCompanyName">Company Name(Or Name of the person in case of an Individual)<span class="asterisk">*</span><br></label>
        <input type ="number" class="form-control" id="detailsCompanyName" placeholder="Your answer">
       </div>

     <div class="form-group">
        <label for="detailsLocation">Location<span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsLocation" placeholder="Your answer">
       </div>

     <div class="form-group">
        <label for="detailsDateAgreement">Effective date of Agreement<span class="asterisk">*</span><br></label>
        <input type ="date" class="form-control" id="detailsDateAgreement">
       </div>

     <div class="form-group">
        <label for="detailsValidityPeriod">Lock-in/Validity Period<span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsValidityPeriod" placeholder="Your answer">
       </div>

     <div class="form-group">
        <label for="detailsNoticePeriod">Notice Period<span class="asterisk">*</span><br></label>
        <input type ="text" class="form-control" id="detailsNoticePeriod" placeholder="Your answer">
       </div>

     <div class="form-group">
        <label for="detailsDeposit">Deposit<span class="asterisk">*</span><br></label>
        <input type ="number" class="form-control" id="detailsDeposit" placeholder="Your answer">
       </div>
     
     <div class="form-group">
        <label for="detailsRent">Rent<span class="asterisk">*</span><br></label>
        <input type ="number" class="form-control" id="detailsRent" placeholder="Your answer"><br>
      </div>
     </div>
   <button class="btn btn-primary pull-right">Back</button>
   <button class="btn btn-primary pull-right">Submit</button><br>
</frame>  
</div>
</body>
</html>